@media screen and (min-width: 1000px) {

/*
  ========================================
  Header
  ========================================
*/

header {
	width: 100%;
	background-color: $teal;
	position: fixed;
	z-index: 100;
	// border-bottom: 5px solid $white;
	.logo {
		margin: 0 auto;
		width: 300px;
		display: block;
	}
	nav {
		text-align: right;
		padding: 10px 20px;
		margin-top: -6.7em;
		li {
			display: inline;
			margin: 0 1.1em;
			a {
				text-decoration: none;
			}
		}
	}
}

}