@media screen and (min-width: 700px) {


/*
  ========================================
  Content
  ========================================
*/

.content {
// WHAT

// HOW
	.how {
		.how-steps {
			img {
				width: 45%;
				// max-width: 350px;
				margin: 0 auto;
			}
		}
	}
// ORDER
	.order {
		h2 {
			top: -.05em;
		}		
		.bomb-container-2 {
			.bomb-type-2 {
				.bomb-desc {
					visibility: visible;
					position: relative;
					span {
						color: $dkgrey;
						font-size: 1.1em;
					}
				}
			}
		}
	}
// TRACK	

}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	width: 100%;
	background-color: $dkgrey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.extra {
		p {
			color: $white;
			text-align: left;
		}
	}
	.social {
		.icon {
			width: 40px;
			margin: 5px;
		}
	}
	.contact {
		p {
			color: $white;
			text-align: left;
		}
	}
}

@import 'max-media';


}
