@media screen and (min-width: 700px) {


/*
  ========================================
  Content
  ========================================
*/

.content {
// WHAT

// HOW
	.how {
		.how-steps {
			img {
				max-width: 400px;
			}
		}
	}
// ORDER
	.order {
		h2 {
			top: -.1em;
		}		
		.bomb-container-2 {
			padding: 4em 0 1em 0;
			.bomb-type-2 {
				.bomb-desc {
					visibility: visible;
					position: relative;
					margin-top: 1em;
					span {
						color: $dkgrey;
						font-size: 1.1em;
					}
				}
			}
		}
		.select-button {
			visibility: visible;
			position: relative;
			display: flex;
			justify-content: space-around;
			button {
				padding: 5px;
				width: 150px;
				display: block;
				border-radius: 25px;
				margin: 20px auto;
				background-color: $ltgrey;
				color: $dkgrey;	
				border: 2px solid $teal;
				font-family: "museo-sans",sans-serif;
				&:hover {
					background-color: $teal;
					color: $white;
					text-decoration: none;
				}
			}
		}	
	}
// TRACK
	.track {
		h2 {
		}
		.order-number {
			width: 90%;
			text-align: center;
		}
		iframe {
			width: 90%;
			display: block;
			margin: 10px auto;
		}
	}
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	width: 100%;
	background-color: $dkgrey;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.extra {
		p {
			color: $white;
			text-align: left;
		}
	}
	.social {
		.icon {
			width: 40px;
			margin: 5px;
		}
	}
	.contact {
		p {
			color: $white;
			text-align: left;
		}
	}
}

/*
  ========================================
  Confirm
  ========================================
*/

.confirm-container {
	min-height: 860px;
	height: 860px;
}

@import '900-media';
}