@media screen and (min-width: 700px) {

/*
  ========================================
  Grid
  ========================================
*/


/*
  ========================================
  Type
  ========================================
*/

h2 {
	line-height: 0em;
}	

p {
	max-width: 75%;
	margin: 0 auto;
}

/*
  ========================================
  Header
  ========================================
*/

/*
  ========================================
  Content
  ========================================
*/

.content {
	.gif {
		.gif-bomb {
		}
		p {
		}
	}
// WHAT
	.what {
		z-index: 85;
		.copy {
			position: relative;
		}
		.big-what {
			@include font(8);
			color: rgba(247,231,208,.5);
			transform: rotate(-90deg);
			transform-origin: left top 0;
			position: absolute;
			top: 5em;
			left: .5em;
			z-index: 10;
		}
		.animated-drone {
			width: 70%;
			margin: 0 auto;
			.drone {
				visibility: visible;
				position: relative;
				width: 100%;
				max-width: 300px;
				display: block;
				margin: 20px auto 0 auto;
				z-index: 95;
			}
			.shadow {
				visibility: visible;
				position: relative;
				max-width: 150px;
				display: block;
				margin: 0 auto;
			}
		}
	}
// HOW
	.how {
		padding: 5%;
		.big-how {
			@include font(7);
			color: rgba(247,231,208,.5);
			position: absolute;	
			left: -.2em;
			top: .63em;		
		}
		.all-steps {
			position: relative;
			z-index: 90;
			.step {
				margin: 2%;
				width: 46%;
				float: left;
					.step-image {
					}
			}
		}	
	}
// ORDER
	.order {
		padding: 0 5%;
		.big-order {
			@include font(5);
			color: rgba(195,43,55,.3);
			position: absolute;
			right: -10px;
		}
		.bomb-type1 {
			display: none;
		}
		.bomb-type2 {
			visibility: visible;
			position: relative;
			width: 30%;
			float: left;
			margin: 40px 0;
			.bomb-options-2 {
				width: 100%;
				margin: 0 10%;
				background-color: red;
			}
			.flower {
				background-color: blue;
			}
			.bomb-desc {
				visibility: hidden;
				position: absolute;
			}
		}
	}
// TRACK
	.track {
		.big-track {
			@include font(6);
			color: rgba(247,231,208,.3);
			transform: rotate(-90deg);
			transform-origin: left top 0;
			position: absolute;
			top: 5em;
			left: .5em;
			z-index: 10;
		}
		.order-number {
			padding: 15px;
			position: relative;
			li {
			}
			.search {
			}
		}
		iframe {
		}
	}
}

/*
  ========================================
  Footer
  ========================================
*/

@import 'max-media';

}
