@media screen and (min-width: 900px) {

/*
  ========================================
  Header
  ========================================
*/


/*
  ========================================
  Content
  ========================================
*/

.content {
	padding-top: 8em;
	.gif {
		.gif-bomb {
			max-width: 900px;
			display: block;
			margin: 0 auto;
		}
	}
// WHAT
	.what {
		padding: 5% 8%;
		h2 {
			top: 2.52em;
			@include font(16);
		}
	}

// HOW
	.how {
		h2 {
			@include font(15.2);
		}
		.how-steps {
			img {
				max-width: 430px;
			}
		}
	}
// ORDER
	.order {
		h2 {
			@include font(16);
			top: -.2em;
		}		
		.bomb-container-2 {
			.bomb-type-2 {
				.bomb-desc {
					visibility: visible;
					position: relative;
					margin-top: 1em;
					p {
						min-width: 100%;
					}
					span {
						color: $dkgrey;
						font-size: 1.1em;
					}
					button {
						padding: 5px;
						width: 80%;
						border-radius: 25px;
						margin-top: 20px;
						background-color: $ltgrey;
						color: $dkgrey;	
						border: 2px solid $teal;
						font-family: "museo-sans",sans-serif;
						&:hover {
							background-color: $teal;
							color: $white;
							border: 2px solid $dkgrey;
						}
					}
				}
			}
		}
	}
// TRACK
	.track {
		z-index: 85;
		h2 {
			@include font(15);
			color: rgba(247,231,208,.3);
			transform: rotate(-90deg);
			transform-origin: left top 0;
			position: absolute;
			top: 2.45em;
			left: .29em;
			z-index: 10;
		}
		.order-number {
			width: 25%;
			padding: 15px;
			position: relative;
			z-index: 95;
			text-align: center;
			float: left;
			height: 18.8em;
			border-radius: 0;
		}
		iframe {
			width: 70%;
			display: block;
			margin: 0 auto;
		}
	}

}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	width: 100%;
	background-color: $dkgrey;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.extra {
		p {
			color: $white;
			text-align: left;
		}
	}
	.social {
		.icon {
			width: 40px;
			margin: 5px;
		}
	}
	.contact {
		p {
			color: $white;
			text-align: left;
		}
	}
}

/*
  ========================================
  Product / Checkout
  ========================================
*/

.bomb-btn {
	margin: 30px auto 50px auto;
}
.horiz-transparent {
	margin: 5px auto;
}
.product-container {
	.container {
	// PRODUCT
		.product {
			display: flex;
			flex-direction: row;
			img {
				width: 150px;
				margin-top: 0;
			}
			.bomb-highlight {
				margin: 80px auto 0 auto;
				width: 70%;
				// padding-top: 3em;
			}
		}
		// CHECKOUT
		.checkout-form {
			input {
				margin: 0 auto 15px auto;
				width: 49.5%;
				max-width: 800px;
			}
			.label-break {
				display: block;
			}
			.phone-detail-inline {
				display: inline-block;
			}
			select {
				width: 20%;
			}
			.sm-input {
				width: 32.8%;
			}
			.big-input {
				width: 79%;
			}
		}
	}
}

@import '1100-media';


}