@media screen and (min-width: 500px) {


/*
  ========================================
  Type
  ========================================
*/

h2 {
	line-height: 0em;
}	

p {
	max-width: 75%;
	margin: 0 auto;
}

/*
  ========================================
  Content
  ========================================
*/

.content {
	.gif {
		.gif-bomb {
			margin-top: 0;
		}
	}
// WHAT
	.what {
		z-index: 85;
		.copy {
			position: relative;
		}
		h2 {
			@include font(13);
			color: rgba(247,231,208,.5);
			transform: rotate(-90deg);
			transform-origin: left top 0;
			position: absolute;
			top: 2.7em;
			left: .25em;
			z-index: 10;
		}
		.animated-drone {
			width: 70%;
			margin: 0 auto;
			.drone {
				visibility: visible;
				position: relative;
				width: 100%;
				max-width: 300px;
				display: block;
				margin: 20px auto 0 auto;
				z-index: 95;
			}
			.shadow {
				visibility: visible;
				position: relative;
				max-width: 150px;
				display: block;
				margin: 0 auto;
			}
		}
	}
// HOW
	.how {
		padding: 6em 2.2em;
		z-index: 85;
		h2 {
			@include font(12);
			color: rgba(249,165,64,.5);
			position: absolute;	
			left: -.1em;
			top: .3em;
			z-index: 10;
		}
		.how-steps {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			img {
				width: 48%;
				// max-width: 300px;
				margin: 1%;
			}
		}
	}
// ORDER
	.order {
		padding: 0 5%;
		h2 {
			@include font(12);
			color: rgba(195,43,55,.3);
			position: absolute;
			right: -10px;
			top: -.05em;
		}
		.bomb-container-1 {
			display: none;
		}		
		.bomb-container-2 {
			visibility: visible;
			position: relative;
			padding: 4em 0;
			display: flex;
			justify-content: row;
			.bomb-type-2 {
				width: 30%;
				max-width: 250px;
				margin: 0 auto;
				.bomb-desc {
					visibility: hidden;
					position: absolute;
				}
			}
		}
	}
// TRACK	
	.track {
		z-index: 85;
		h2 {
			@include font(12);
			color: rgba(247,231,208,.3);
			transform: rotate(-90deg);
			transform-origin: left top 0;
			position: absolute;
			top: 2.5em;
			left: .25em;
			z-index: 10;
		}
		.order-number {
			padding: 15px;
			position: relative;
			z-index: 95;
		}
	}
}

/*
  ========================================
  Footer
  ========================================
*/

@import '700-media';
@import 'max-media';

}
