@import 'reset';
@import 'colors';

@mixin font($em){
	font-size: ($em*16) + px;
	font-size: ($em) + em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

body {
	font-family: "museo-sans",sans-serif;
	background-color: $white;
	color: $dkgrey;
	@include font(1);
	line-height: 1.5em;
}

.container {
	margin: 0 auto;
	width: 100%;
	background-color: $teal;
}

/*
  ========================================
  Type
  ========================================
*/

h1 {
	@include font(3);
	text-align: center;
	text-transform: uppercase;
}

a {
	color: $white;
	&:hover {
		color: $pink;
	}
}

span {
	color: $teal;
	a {
		text-decoration: none;
		color: $teal;
		&:hover {
			color: $pink;
		}
	}
}	


/*
  ========================================
  Header
  ========================================
*/
	
header {
	width: 100%;
	background-color: $teal;
	.logo {
		margin: 0 auto;
		display: block;
		width: 200px;
	}
	nav {
		text-align: center;
		height: 5em;
		padding: 20px;
		li {
			display: inline;
			margin: 0 1.1em;
			a {
				text-decoration: none;
			}
		}
	}
}

/*
  ========================================
  Content
  ========================================
*/

// 

.content {
	.what {
		padding: 10%;
		width: 100%;
		background-color: $orange;
		.drone {
			display: none;
			// width: 100%;
			// margin: 20px auto;
		}
	}
	.how {
		padding: 10% 0;
		width: 100%;
		background-color: $pink;
		.step {
			width: 100%;
			p {
				color: white;
				background-color: $teal;
				padding: 2%;
			}
			.box {
				background-color: white;
				.step-image {
					width: 90%;
					margin: 0 auto;
					display: block;
				}
				.bomb {
					width: 20%;
					padding: 1em 0;
				}
				.victims {
					width: 60%;
					padding-top: 1em;
				}
				.track-bomb {
					padding-top: 1em;
				}
				.laugh {
					width: 35%;
				}
			}
		}	
	}

	.order {
		height: 10em;
		width: 100%;
		background-color: $white;
	}
	.track {
		height: 10em;
		width: 100%;
		background-color: $teal;
	}
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	height: 10em;
	width: 100%;
	background-color: $dkgrey;
}

@import 'mid-media';
@import 'max-media';










