@import 'reset';
@import 'colors';

@mixin font($em){
	font-size: ($em*16) + px;
	font-size: ($em) + em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

body {
	font-family: "museo-sans",sans-serif;
	background-color: $white;
	color: $dkgrey;
	@include font(1);
	line-height: 1.5em;
}

.container {
	margin: 0 auto;
	width: 100%;
	background-color: $teal;
}

/*
  ========================================
  Type
  ========================================
*/

h1 {
	@include font(3);
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: "franklin-gothic-urw-cond",sans-serif;
	font-weight: bold;
}

a {
	color: $white;
	&:hover {
		color: $pink;
		font-weight: bold;
	}
}

span {
	color: $teal;
	a {
		text-decoration: none;
		color: $teal;
		&:hover {
			color: $pink;
		}
	}
}	


/*
  ========================================
  Header
  ========================================
*/
	
header {
	width: 100%;
	background-color: $teal;
	position: fixed;
	.logo {
		margin: 0 auto;
		width: 200px;
		display: block;
	}
	nav {
		text-align: center;
		// height: 5em;
		padding: 10px 20px;
		li {
			display: inline;
			margin: 0 1.1em;
			a {
				text-decoration: none;
			}
		}
	}
}

/*
  ========================================
  Content
  ========================================
*/

.content {
	padding-top: 8em;
	.what {
		padding: 10%;
		width: 100%;
		background-color: $orange;
		.big-what {
			@include font(2);
			line-height: 1.2em;
			color: $pink;
		}
		.drone {
			display: none;
			// width: 100%;
			// margin: 20px auto;
		}
	}
	.how {
		padding: 10%;
		width: 100%;
		background-color: $pink;
		.big-how {
			@include font(2);
			line-height: 1.2em;
			color: $white;
		}
		.step {
			width: 100%;
			margin: 15px auto;
			p {
				color: white;
				background-color: $teal;
				border-radius: 25px 25px 0 0;
				padding: 2% 0 2% 5%;
			}
			.box {
				background-color: white;
				border-radius: 0 0 25px 25px;
				.step-image {
					width: 90%;
					max-width: 300px;
					margin: 0 auto;
					display: block;
				}
				.bomb {
					width: 20%;
					max-width: 100px;
					padding: 1em 0;
				}
				.victims {
					width: 60%;
					padding-top: 1em;
				}
				.track-bomb {
					padding-top: 1em;
				}
				.laugh {
					width: 35%;
				}
			}
		}	
	}
	.order {
		// padding: 10%;
		width: 100%;
		background-color: $white;
		.big-order {
			@include font(2);
			line-height: 1.2em;
			color: $orange;
			padding: 10% 0 4% 10%;
		}
		.bomb-options {
			display: block;
			margin: 0 auto 10px auto;
			width: 100%;
		}
	}
	.track {
		height: 10em;
		width: 100%;
		background-color: $teal;
	}
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	height: 10em;
	width: 100%;
	background-color: $dkgrey;
}

@import 'mid-media';
@import 'max-media';










