/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
==============================================
floating
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
/*
==============================================
pulse
==============================================
*/
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }
/*
==============================================
confetti
==============================================
*/
@keyframes confetti {
  0% {
    top: 0px; }
  100% {
    top: 1500px; } }
@-webkit-keyframes confetti /* Safari and Chrome */ {
  0% {
    top: 0px; }
  100% {
    top: 1500px; } }
/*
==============================================
hover grow
==============================================
*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
  ========================================
  Grid
  ========================================
*/
body {
  font-family: "museo-sans",sans-serif;
  background-color: #f7e7d0;
  color: #333333;
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5em; }

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #12847e;
  overflow: hidden; }

.clear-fix {
  clear: both; }

/*
  ========================================
  Type
  ========================================
*/
h1 {
  font-size: 48px;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-family: "franklin-gothic-urw-cond",sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  font-size: 32px;
  font-size: 2em; }

h3 {
  font-size: 19.2px;
  font-size: 1.2em; }

h4 {
  font-size: 19.2px;
  font-size: 1.2em; }

h5 {
  font-size: 16px;
  font-size: 1em;
  font-weight: bold; }

h6 {
  font-size: 12.8px;
  font-size: 0.8em;
  line-height: 1.2em; }

a {
  color: #f7e7d0; }
  a:hover {
    color: #c32237;
    font-weight: bold; }

span {
  color: #12847e; }
  span a {
    text-decoration: none;
    color: #12847e; }
    span a:hover {
      color: #c32237; }

/*
  ========================================
  Header
  ========================================
*/
header {
  width: 100%;
  background-color: #12847e;
  position: fixed;
  z-index: 100; }
  header .logo {
    margin: 0 auto;
    width: 300px;
    display: block; }
  header nav {
    text-align: center;
    padding: 10px 20px; }
    header nav li {
      display: inline;
      margin: 0 3%; }
      header nav li a {
        text-decoration: none; }

/*
  ========================================
  Content
  ========================================
*/
.content {
  padding-top: 11em;
  overflow: hidden; }
  .content .gif {
    background-color: #333333; }
    .content .gif .gif-bomb {
      width: 100%; }
    .content .gif p {
      margin: 0 0 0 10px; }
  .content .what {
    padding: 10%;
    width: 100%;
    background-color: #f9a540;
    position: relative; }
    .content .what .copy {
      z-index: 95; }
    .content .what h2 {
      color: #c32237;
      z-index: 90; }
    .content .what .animated-drone .drone {
      visibility: hidden;
      position: absolute; }
    .content .what .animated-drone .shadow {
      visibility: hidden;
      position: absolute; }
  .content .how {
    padding: 10%;
    width: 100%;
    background-color: #c32237;
    position: relative; }
    .content .how h2 {
      color: #f7e7d0; }
    .content .how .how-steps {
      position: relative;
      z-index: 90;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
      .content .how .how-steps img {
        width: 100%;
        margin: 10px auto; }
    .content .how .teal-line {
      visibility: hidden;
      position: absolute; }
  .content .order {
    position: relative;
    width: 100%;
    background-color: #f7e7d0; }
    .content .order h2 {
      color: #12847e;
      padding: 10% 0 0 10%; }
    .content .order .bomb-container-1 {
      padding-bottom: 3em; }
      .content .order .bomb-container-1 .bomb-type-1 h3 {
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 5.8em;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 4px;
        max-width: 450px; }
        .content .order .bomb-container-1 .bomb-type-1 h3 a {
          text-decoration: none;
          color: #333333; }
          .content .order .bomb-container-1 .bomb-type-1 h3 a:hover {
            color: #c32237; }
      .content .order .bomb-container-1 .bomb-type-1 img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 450px; }
    .content .order .bomb-container-2 {
      visibility: hidden;
      position: absolute; }
  .content .track {
    padding: 10%;
    width: 100%;
    background-color: #12847e;
    position: relative; }
    .content .track h2 {
      color: #f7e7d0; }
    .content .track .order-number {
      background-color: #f9a540;
      border: 20px solid #F98A10;
      margin: 0 auto;
      padding: 7%;
      border-radius: 25px;
      text-align: center; }
      .content .track .order-number input {
        width: 90%;
        max-width: 150px; }
      .content .track .order-number .search {
        width: 20px; }
    .content .track iframe {
      width: 100%;
      display: block;
      margin: 10px auto;
      z-index: 95; }

/*
  ========================================
  Footer
  ========================================
*/
footer {
  width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 1em; }
  footer .extra p {
    color: #f7e7d0; }
  footer .social .icon {
    width: 40px;
    margin: 10px; }
  footer .contact p {
    color: #f7e7d0; }

/*
  ========================================
  Product / Checkout
  ========================================
*/
.no-nav {
  height: 4.3em;
  position: fixed; }

.breadcrumbs {
  color: #bdbaba;
  margin-bottom: 10px; }
  .breadcrumbs a {
    color: #bdbaba;
    text-decoration: none; }

.bomb-btn {
  padding: 5px;
  width: 150px;
  display: block;
  border-radius: 25px;
  margin: 20px auto 50px auto;
  background-color: #F2F1F0;
  color: #333333;
  border: 2px solid #12847e;
  font-family: "museo-sans",sans-serif; }
  .bomb-btn:hover {
    background-color: #12847e;
    color: #f7e7d0;
    text-decoration: none; }

.horiz-line {
  width: 100%;
  border: 1px solid #333333;
  margin: 20px auto; }

.horiz-transparent {
  width: 80%;
  border: 0.1px solid #f7e7d0;
  margin: 15px auto; }

.product-container .container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10em;
  background-color: #f7e7d0; }
  .product-container .container .product {
    display: flex;
    flex-direction: column; }
    .product-container .container .product img {
      width: 140px;
      margin: 0 auto 20px auto; }
    .product-container .container .product .bomb-highlight {
      margin: 20px auto; }
  .product-container .container .checkout-form {
    padding: 10px; }
    .product-container .container .checkout-form h5 {
      line-height: 2em; }
    .product-container .container .checkout-form input {
      box-shadow: inset 0 0 0 1px #d5d8da,inset 0 2px 2px #eff0f1,0 0 0 1000px #fff inset;
      width: 100%;
      padding: 8px;
      margin: 10px auto; }
    .product-container .container .checkout-form .checkbox {
      width: 20px;
      height: 20px;
      margin: 0; }
    .product-container .container .checkout-form select {
      margin-bottom: 10px;
      width: 100%; }

/*
  ========================================
  Confirm
  ========================================
*/
.confirm-container .container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10em;
  background-color: #f7e7d0; }
  .confirm-container .container body {
    padding: 2em;
    background: #001;
    color: #eee;
    margin: 0 auto;
    text-align: center;
    font: normal 100% Arial; }
  .confirm-container .container .explode {
    text-align: left;
    display: inline-block;
    position: relative;
    padding: 106px;
    transform-origin: center center;
    animation: explode-rotate 20s linear infinite; }
  .confirm-container .container .frag {
    position: absolute;
    transform-origin: 3px 30px;
    opacity: 0; }
    .confirm-container .container .frag:before, .confirm-container .container .frag:after {
      position: absolute;
      content: "";
      width: 6px;
      height: 60px;
      border-radius: 40%;
      background-color: purple;
      transform-origin: inherit;
      animation: none 2s ease infinite alternate; }
    .confirm-container .container .frag:before {
      background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.65) 0%, rgba(255, 0, 0, 0) 100%);
      animation-name: explode-frag-before; }
    .confirm-container .container .frag:after {
      background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.65) 100%);
      animation-name: explode-frag-after; }
    .confirm-container .container .frag:nth-of-type(2n):before, .confirm-container .container .frag:nth-of-type(2n):after {
      animation-delay: 0.5s;
      background-color: yellow; }
    .confirm-container .container .frag:nth-of-type(3n):before, .confirm-container .container .frag:nth-of-type(3n):after {
      animation-delay: 0.33333s;
      background-color: orange; }
    .confirm-container .container .frag:nth-of-type(1) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(0deg); }
    .confirm-container .container .frag:nth-of-type(2) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(7.5deg); }
    .confirm-container .container .frag:nth-of-type(3) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(15deg); }
    .confirm-container .container .frag:nth-of-type(4) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(22.5deg); }
    .confirm-container .container .frag:nth-of-type(5) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(30deg); }
    .confirm-container .container .frag:nth-of-type(6) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(37.5deg); }
    .confirm-container .container .frag:nth-of-type(7) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(45deg); }
    .confirm-container .container .frag:nth-of-type(8) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(52.5deg); }
    .confirm-container .container .frag:nth-of-type(9) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(60deg); }
    .confirm-container .container .frag:nth-of-type(10) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(67.5deg); }
    .confirm-container .container .frag:nth-of-type(11) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(75deg); }
    .confirm-container .container .frag:nth-of-type(12) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(82.5deg); }
    .confirm-container .container .frag:nth-of-type(13) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(90deg); }
    .confirm-container .container .frag:nth-of-type(14) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(97.5deg); }
    .confirm-container .container .frag:nth-of-type(15) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(105deg); }
    .confirm-container .container .frag:nth-of-type(16) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(112.5deg); }
    .confirm-container .container .frag:nth-of-type(17) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(120deg); }
    .confirm-container .container .frag:nth-of-type(18) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(127.5deg); }
    .confirm-container .container .frag:nth-of-type(19) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(135deg); }
    .confirm-container .container .frag:nth-of-type(20) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(142.5deg); }
    .confirm-container .container .frag:nth-of-type(21) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(150deg); }
    .confirm-container .container .frag:nth-of-type(22) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(157.5deg); }
    .confirm-container .container .frag:nth-of-type(23) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(165deg); }
    .confirm-container .container .frag:nth-of-type(24) {
      opacity: 1;
      transform: translate(-3px, -30px) rotate(172.5deg); }
@keyframes explode-frag-before {
  0% {
    transform: translateY(-10px);
    filter: blur(3px); }
  20% {
    filter: blur(0); }
  100% {
    transform: translateY(-100px); } }
@keyframes explode-frag-after {
  0% {
    transform: translateY(10px);
    filter: blur(3px); }
  20% {
    filter: blur(0); }
  100% {
    transform: translateY(100px); } }
@keyframes explode-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(180deg); } }
@media screen and (min-width: 500px) {
  /*
    ========================================
    Type
    ========================================
  */
  h2 {
    line-height: 0em; }

  p {
    max-width: 75%;
    margin: 0 auto; }

  /*
    ========================================
    Content
    ========================================
  */
  .content .gif .gif-bomb {
    margin-top: 0; }
  .content .what {
    z-index: 85; }
    .content .what .copy {
      position: relative; }
    .content .what h2 {
      font-size: 208px;
      font-size: 13em;
      color: rgba(247, 231, 208, 0.5);
      transform: rotate(-90deg);
      transform-origin: left top 0;
      position: absolute;
      top: 2.7em;
      left: .25em;
      z-index: 10; }
    .content .what .animated-drone {
      width: 70%;
      margin: 0 auto; }
      .content .what .animated-drone .drone {
        visibility: visible;
        position: relative;
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 20px auto 0 auto;
        z-index: 95; }
      .content .what .animated-drone .shadow {
        visibility: visible;
        position: relative;
        max-width: 150px;
        display: block;
        margin: 0 auto; }
  .content .how {
    padding: 6em 2.2em;
    z-index: 85; }
    .content .how h2 {
      font-size: 192px;
      font-size: 12em;
      color: rgba(249, 165, 64, 0.5);
      position: absolute;
      left: -.1em;
      top: .3em;
      z-index: 10; }
    .content .how .how-steps {
      max-width: 1150px;
      margin: 0 auto;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .content .how .how-steps img {
        width: 48%;
        margin: 1%; }
  .content .order {
    padding: 0 5%; }
    .content .order h2 {
      font-size: 192px;
      font-size: 12em;
      color: rgba(195, 43, 55, 0.3);
      position: absolute;
      right: -10px;
      top: -.05em; }
    .content .order .bomb-container-1 {
      display: none; }
    .content .order .bomb-container-2 {
      visibility: visible;
      position: relative;
      padding: 4em 0;
      display: flex;
      justify-content: row; }
      .content .order .bomb-container-2 .bomb-type-2 {
        width: 30%;
        max-width: 300px;
        margin: 0 auto; }
        .content .order .bomb-container-2 .bomb-type-2 .bomb-desc {
          visibility: hidden;
          position: absolute; }
  .content .track {
    z-index: 85; }
    .content .track h2 {
      font-size: 192px;
      font-size: 12em;
      color: rgba(247, 231, 208, 0.3);
      transform: rotate(-90deg);
      transform-origin: left top 0;
      position: absolute;
      top: 2.5em;
      left: .25em;
      z-index: 10; }
    .content .track .order-number {
      padding: 15px;
      position: relative;
      z-index: 95; }

  /*
    ========================================
    Footer
    ========================================
  */
  /*
    ========================================
    Product / Checkout
    ========================================
  */
  .breadcrumbs {
    margin-left: 0; }

  .product-container .container .product .bomb-highlight p {
    min-width: 100%; } }
@media screen and (min-width: 500px) and (min-width: 700px) {
  /*
    ========================================
    Content
    ========================================
  */
  .content .how .how-steps img {
    max-width: 400px; }
  .content .order h2 {
    top: -.1em; }
  .content .order .bomb-container-2 .bomb-type-2 .bomb-desc {
    visibility: visible;
    position: relative;
    margin-top: 1em; }
    .content .order .bomb-container-2 .bomb-type-2 .bomb-desc span {
      color: #333333;
      font-size: 1.1em; }
    .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button {
      padding: 5px;
      width: 80%;
      display: block;
      border-radius: 25px;
      margin: 20px auto 0 auto;
      background-color: #F2F1F0;
      color: #333333;
      border: 2px solid #12847e;
      font-family: "museo-sans",sans-serif; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button:hover {
        background-color: #12847e;
        color: #f7e7d0;
        text-decoration: none; }
  .content .track {
    z-index: 85; }
    .content .track h2 {
      font-size: 192px;
      font-size: 12em;
      color: rgba(247, 231, 208, 0.3);
      transform: rotate(-90deg);
      transform-origin: left top 0;
      position: absolute;
      top: 2.5em;
      left: .25em;
      z-index: 10; }
    .content .track .order-number {
      width: 90%;
      padding: 15px;
      position: relative;
      z-index: 95;
      text-align: center; }
    .content .track iframe {
      width: 90%;
      display: block;
      margin: 10px auto; }

  /*
    ========================================
    Footer
    ========================================
  */
  footer {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .extra p {
      color: #f7e7d0;
      text-align: left; }
    footer .social .icon {
      width: 40px;
      margin: 5px; }
    footer .contact p {
      color: #f7e7d0;
      text-align: left; } }
@media screen and (min-width: 500px) and (min-width: 700px) and (min-width: 900px) {
  /*
    ========================================
    Header
    ========================================
  */
  /*
    ========================================
    Content
    ========================================
  */
  .content {
    padding-top: 8em; }
    .content .gif .gif-bomb {
      max-width: 900px;
      display: block;
      margin: 0 auto; }
    .content .what {
      padding: 5% 8%; }
      .content .what h2 {
        top: 2.52em;
        font-size: 256px;
        font-size: 16em; }
    .content .how h2 {
      font-size: 243.2px;
      font-size: 15.2em; }
    .content .how .how-steps img {
      max-width: 430px; }
    .content .order h2 {
      font-size: 256px;
      font-size: 16em;
      top: -.2em; }
    .content .order .bomb-container-2 .bomb-type-2 .bomb-desc {
      visibility: visible;
      position: relative;
      margin-top: 1em; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc p {
        min-width: 100%; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc span {
        color: #333333;
        font-size: 1.1em; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button {
        padding: 5px;
        width: 80%;
        border-radius: 25px;
        margin-top: 20px;
        background-color: #F2F1F0;
        color: #333333;
        border: 2px solid #12847e;
        font-family: "museo-sans",sans-serif; }
        .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button:hover {
          background-color: #12847e;
          color: #f7e7d0;
          border: 2px solid #333333; }
    .content .track {
      z-index: 85; }
      .content .track h2 {
        font-size: 240px;
        font-size: 15em;
        color: rgba(247, 231, 208, 0.3);
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        top: 2.45em;
        left: .29em;
        z-index: 10; }
      .content .track .order-number {
        width: 25%;
        padding: 15px;
        position: relative;
        z-index: 95;
        text-align: center;
        float: left;
        height: 18.8em;
        border-radius: 0; }
      .content .track iframe {
        width: 70%;
        display: block;
        margin: 0 auto; }

  /*
    ========================================
    Footer
    ========================================
  */
  footer {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .extra p {
      color: #f7e7d0;
      text-align: left; }
    footer .social .icon {
      width: 40px;
      margin: 5px; }
    footer .contact p {
      color: #f7e7d0;
      text-align: left; }

  /*
    ========================================
    Product / Checkout
    ========================================
  */
  .bomb-btn {
    margin: 30px auto 50px auto; }

  .horiz-transparent {
    margin: 5px auto; }

  .product-container .container .product {
    display: flex;
    flex-direction: row; }
    .product-container .container .product img {
      width: 150px;
      margin-top: 0; }
    .product-container .container .product .bomb-highlight {
      margin: 80px auto 0 auto;
      width: 70%; }
  .product-container .container .checkout-form input {
    margin: 0 auto 15px auto;
    width: 49.5%;
    max-width: 800px; }
  .product-container .container .checkout-form .label-break {
    display: block; }
  .product-container .container .checkout-form .phone-detail-inline {
    display: inline-block; }
  .product-container .container .checkout-form select {
    width: 20%; }
  .product-container .container .checkout-form .sm-input {
    width: 32.8%; }
  .product-container .container .checkout-form .big-input {
    width: 79%; } }
@media screen and (min-width: 500px) and (min-width: 700px) and (min-width: 900px) and (min-width: 1100px) {
  /*
    ========================================
    Header
    ========================================
  */
  header {
    width: 100%;
    background-color: #12847e;
    position: fixed;
    z-index: 100; }
    header .logo {
      margin: 0 auto;
      width: 300px;
      display: block; }
    header nav {
      text-align: right;
      padding: 10px 20px;
      margin-top: -6.7em; }
      header nav li {
        display: inline;
        margin: 0 1.1em; }
        header nav li a {
          text-decoration: none; } }
@media screen and (min-width: 500px) and (min-width: 900px) {
  /*
    ========================================
    Header
    ========================================
  */
  /*
    ========================================
    Content
    ========================================
  */
  .content {
    padding-top: 8em; }
    .content .gif .gif-bomb {
      max-width: 900px;
      display: block;
      margin: 0 auto; }
    .content .what {
      padding: 5% 8%; }
      .content .what h2 {
        top: 2.52em;
        font-size: 256px;
        font-size: 16em; }
    .content .how h2 {
      font-size: 243.2px;
      font-size: 15.2em; }
    .content .how .how-steps img {
      max-width: 430px; }
    .content .order h2 {
      font-size: 256px;
      font-size: 16em;
      top: -.2em; }
    .content .order .bomb-container-2 .bomb-type-2 .bomb-desc {
      visibility: visible;
      position: relative;
      margin-top: 1em; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc p {
        min-width: 100%; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc span {
        color: #333333;
        font-size: 1.1em; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button {
        padding: 5px;
        width: 80%;
        border-radius: 25px;
        margin-top: 20px;
        background-color: #F2F1F0;
        color: #333333;
        border: 2px solid #12847e;
        font-family: "museo-sans",sans-serif; }
        .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button:hover {
          background-color: #12847e;
          color: #f7e7d0;
          border: 2px solid #333333; }
    .content .track {
      z-index: 85; }
      .content .track h2 {
        font-size: 240px;
        font-size: 15em;
        color: rgba(247, 231, 208, 0.3);
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        top: 2.45em;
        left: .29em;
        z-index: 10; }
      .content .track .order-number {
        width: 25%;
        padding: 15px;
        position: relative;
        z-index: 95;
        text-align: center;
        float: left;
        height: 18.8em;
        border-radius: 0; }
      .content .track iframe {
        width: 70%;
        display: block;
        margin: 0 auto; }

  /*
    ========================================
    Footer
    ========================================
  */
  footer {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .extra p {
      color: #f7e7d0;
      text-align: left; }
    footer .social .icon {
      width: 40px;
      margin: 5px; }
    footer .contact p {
      color: #f7e7d0;
      text-align: left; }

  /*
    ========================================
    Product / Checkout
    ========================================
  */
  .bomb-btn {
    margin: 30px auto 50px auto; }

  .horiz-transparent {
    margin: 5px auto; }

  .product-container .container .product {
    display: flex;
    flex-direction: row; }
    .product-container .container .product img {
      width: 150px;
      margin-top: 0; }
    .product-container .container .product .bomb-highlight {
      margin: 80px auto 0 auto;
      width: 70%; }
  .product-container .container .checkout-form input {
    margin: 0 auto 15px auto;
    width: 49.5%;
    max-width: 800px; }
  .product-container .container .checkout-form .label-break {
    display: block; }
  .product-container .container .checkout-form .phone-detail-inline {
    display: inline-block; }
  .product-container .container .checkout-form select {
    width: 20%; }
  .product-container .container .checkout-form .sm-input {
    width: 32.8%; }
  .product-container .container .checkout-form .big-input {
    width: 79%; } }
@media screen and (min-width: 500px) and (min-width: 900px) and (min-width: 1100px) {
  /*
    ========================================
    Header
    ========================================
  */
  header {
    width: 100%;
    background-color: #12847e;
    position: fixed;
    z-index: 100; }
    header .logo {
      margin: 0 auto;
      width: 300px;
      display: block; }
    header nav {
      text-align: right;
      padding: 10px 20px;
      margin-top: -6.7em; }
      header nav li {
        display: inline;
        margin: 0 1.1em; }
        header nav li a {
          text-decoration: none; } }
@media screen and (min-width: 900px) {
  /*
    ========================================
    Header
    ========================================
  */
  /*
    ========================================
    Content
    ========================================
  */
  .content {
    padding-top: 8em; }
    .content .gif .gif-bomb {
      max-width: 900px;
      display: block;
      margin: 0 auto; }
    .content .what {
      padding: 5% 8%; }
      .content .what h2 {
        top: 2.52em;
        font-size: 256px;
        font-size: 16em; }
    .content .how h2 {
      font-size: 243.2px;
      font-size: 15.2em; }
    .content .how .how-steps img {
      max-width: 430px; }
    .content .order h2 {
      font-size: 256px;
      font-size: 16em;
      top: -.2em; }
    .content .order .bomb-container-2 .bomb-type-2 .bomb-desc {
      visibility: visible;
      position: relative;
      margin-top: 1em; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc p {
        min-width: 100%; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc span {
        color: #333333;
        font-size: 1.1em; }
      .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button {
        padding: 5px;
        width: 80%;
        border-radius: 25px;
        margin-top: 20px;
        background-color: #F2F1F0;
        color: #333333;
        border: 2px solid #12847e;
        font-family: "museo-sans",sans-serif; }
        .content .order .bomb-container-2 .bomb-type-2 .bomb-desc button:hover {
          background-color: #12847e;
          color: #f7e7d0;
          border: 2px solid #333333; }
    .content .track {
      z-index: 85; }
      .content .track h2 {
        font-size: 240px;
        font-size: 15em;
        color: rgba(247, 231, 208, 0.3);
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        top: 2.45em;
        left: .29em;
        z-index: 10; }
      .content .track .order-number {
        width: 25%;
        padding: 15px;
        position: relative;
        z-index: 95;
        text-align: center;
        float: left;
        height: 18.8em;
        border-radius: 0; }
      .content .track iframe {
        width: 70%;
        display: block;
        margin: 0 auto; }

  /*
    ========================================
    Footer
    ========================================
  */
  footer {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .extra p {
      color: #f7e7d0;
      text-align: left; }
    footer .social .icon {
      width: 40px;
      margin: 5px; }
    footer .contact p {
      color: #f7e7d0;
      text-align: left; }

  /*
    ========================================
    Product / Checkout
    ========================================
  */
  .bomb-btn {
    margin: 30px auto 50px auto; }

  .horiz-transparent {
    margin: 5px auto; }

  .product-container .container .product {
    display: flex;
    flex-direction: row; }
    .product-container .container .product img {
      width: 150px;
      margin-top: 0; }
    .product-container .container .product .bomb-highlight {
      margin: 80px auto 0 auto;
      width: 70%; }
  .product-container .container .checkout-form input {
    margin: 0 auto 15px auto;
    width: 49.5%;
    max-width: 800px; }
  .product-container .container .checkout-form .label-break {
    display: block; }
  .product-container .container .checkout-form .phone-detail-inline {
    display: inline-block; }
  .product-container .container .checkout-form select {
    width: 20%; }
  .product-container .container .checkout-form .sm-input {
    width: 32.8%; }
  .product-container .container .checkout-form .big-input {
    width: 79%; } }
@media screen and (min-width: 900px) and (min-width: 1100px) {
  /*
    ========================================
    Header
    ========================================
  */
  header {
    width: 100%;
    background-color: #12847e;
    position: fixed;
    z-index: 100; }
    header .logo {
      margin: 0 auto;
      width: 300px;
      display: block; }
    header nav {
      text-align: right;
      padding: 10px 20px;
      margin-top: -6.7em; }
      header nav li {
        display: inline;
        margin: 0 1.1em; }
        header nav li a {
          text-decoration: none; } }

/*# sourceMappingURL=style.css.map */
