/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
  ========================================
  Grid
  ========================================
*/
body {
  font-family: "museo-sans",sans-serif;
  background-color: #f7e7d0;
  color: #333333;
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5em; }

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #12847e; }

/*
  ========================================
  Type
  ========================================
*/
h1 {
  font-size: 48px;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-family: "franklin-gothic-urw-cond",sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  font-size: 32px;
  font-size: 2em; }

h3 {
  font-size: 19.2px;
  font-size: 1.2em; }

a {
  color: #f7e7d0; }
  a:hover {
    color: #c32237;
    font-weight: bold; }

span {
  color: #12847e; }
  span a {
    text-decoration: none;
    color: #12847e; }
    span a:hover {
      color: #c32237; }

/*
  ========================================
  Header
  ========================================
*/
header {
  width: 100%;
  background-color: #12847e;
  position: fixed;
  z-index: 100; }
  header .logo {
    margin: 0 auto;
    width: 200px;
    display: block; }
  header nav {
    text-align: center;
    padding: 10px 20px; }
    header nav li {
      display: inline;
      margin: 0 1.1em; }
      header nav li a {
        text-decoration: none; }

/*
  ========================================
  Content
  ========================================
*/
.content {
  padding-top: 8em; }
  .content .what {
    padding: 10%;
    width: 100%;
    background-color: #f9a540; }
    .content .what .big-what {
      color: #c32237; }
    .content .what .drone {
      display: none; }
  .content .how {
    padding: 10%;
    width: 100%;
    background-color: #c32237; }
    .content .how .big-how {
      color: #f7e7d0; }
    .content .how .step {
      width: 100%;
      margin: 0 auto; }
      .content .how .step p {
        color: white;
        background-color: #12847e;
        border-radius: 25px 25px 0 0;
        padding: 2% 0 2% 5%; }
      .content .how .step .box {
        background-color: white;
        border-radius: 0 0 25px 25px; }
        .content .how .step .box .step-image {
          width: 90%;
          max-width: 300px;
          margin: 0 auto;
          display: block; }
        .content .how .step .box .bomb {
          width: 20%;
          max-width: 100px;
          padding: 1em 0; }
        .content .how .step .box .victims {
          width: 60%;
          padding-top: 1em; }
        .content .how .step .box .track-bomb {
          padding-top: 1em; }
        .content .how .step .box .laugh {
          width: 35%; }
  .content .order {
    width: 100%;
    background-color: #f7e7d0; }
    .content .order .big-order {
      color: #12847e;
      padding: 10% 0 0 10%; }
    .content .order .bomb-type h3 {
      text-align: center;
      position: relative;
      top: 5.8em;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 4px; }
      .content .order .bomb-type h3 a {
        text-decoration: none;
        color: #333333; }
        .content .order .bomb-type h3 a:hover {
          color: #c32237; }
    .content .order .bomb-type .bomb-options {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 450px; }
  .content .track {
    padding: 10%;
    width: 100%;
    background-color: #12847e; }
    .content .track .big-track {
      color: #f7e7d0; }
    .content .track .tracking-info {
      background-color: #f9a540;
      margin: 0 auto;
      width: 100%;
      padding: 5%;
      border-radius: 25px; }
      .content .track .tracking-info .search {
        width: 20px; }
    .content .track iframe {
      max-width: 90%;
      display: block;
      margin: 10px auto; }

/*
  ========================================
  Footer
  ========================================
*/
footer {
  width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 15px; }
  footer .extra p {
    color: #f7e7d0; }
  footer .social .icon {
    width: 40px;
    margin: 10px; }
  footer .contact p {
    color: #f7e7d0; }

/*# sourceMappingURL=style.css.map */
