@import 'reset';
@import 'colors';
@import 'animate';

@mixin font($em){
	font-size: ($em*16) + px;
	font-size: ($em) + em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

body {
	font-family: "museo-sans",sans-serif;
	background-color: $white;
	color: $dkgrey;
	@include font(1);
	line-height: 1.5em;
}

.container {
	margin: 0 auto;
	width: 100%;
	background-color: $teal;
	overflow: hidden;
}

.clear-fix {
	clear: both;
}

/*
  ========================================
  Type
  ========================================
*/

h1 {
	@include font(3);
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: "franklin-gothic-urw-cond",sans-serif;
	font-weight: bold;
	line-height: 1.2em;
	@include font(2);
}

h3 {
	@include font(1.2);
}

h4 {
	@include font(1.2);
}

h5 {
	@include font(1);
	font-weight: bold;
}

h6 {
	@include font(.8);
	line-height: 1.2em;
}

a {
	color: $white;
	text-decoration: none;
	&:hover {
		color: $pink;
		font-weight: bold;
	}
}

span {
	color: $teal;
	a {
		text-decoration: none;
		color: $teal;
		&:hover {
			color: $pink;
		}
	}
}

/*
  ========================================
  Header
  ========================================
*/
	
header {
	width: 100%;
	background-color: $teal;
	position: fixed;
	z-index: 100;
	// border-bottom: 5px solid $white;
	.logo {
		margin: 0 auto;
		width: 300px;
		display: block;
	}
	nav {
		text-align: center;
		padding: 10px 20px;
		li {
			display: inline;
			margin: 0 3%;
			a {
				text-decoration: none;
			}
		}
	}
}

/*
  ========================================
  Content
  ========================================
*/

.content {
	padding-top: 11em;
	overflow: hidden;
	.gif {
		background-color: $teal;
		.gif-bomb {
			width: 100%;
		}
		p {
			margin: 0 0 0 10px;
		}
	}
// WHAT
	.what {
		padding: 10%;
		width: 100%;
		background-color: $orange;
		position: relative;
		.copy {
			z-index: 95;
		}
		h2 {
			color: $pink;
			z-index: 90;
		}
		.animated-drone {
			.drone {
				visibility: hidden;
				position: absolute;
			}
			.shadow {
				visibility: hidden;
				position: absolute;
			}
		}
	}
// HOW
	.how {
		padding: 10%;
		width: 100%;
		background-color: $pink;
		position: relative;
		h2 {
			color: $white;
		}
		.how-steps {
			position: relative;
			z-index: 90;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			img {
				width: 100%;
				margin: 10px auto;
			}
		}
	}
// ORDER
	.order {
		position: relative;
		width: 100%;
		background-color: $white;
		h2 {
			color: $teal;
			padding: 10% 0 0 10%;
		}
		.bomb-container-1 {
			padding-bottom: 3em;
			.bomb-type-1 {
				h3 {
				text-align: center;
				margin: 0 auto;
				position: relative;
				top: 5.8em;
				background-color: rgba(255,255,255,.6);
				padding: 4px;
				max-width: 450px;
					a {
						text-decoration: none;
						color: $dkgrey;
						&:hover {
							color: $pink;
						}
					}
				}	
				img {
					display: block;
					margin: 0 auto;
					width: 100%;
					max-width: 450px;
				}
			}
		}		
		.bomb-container-2 {
			visibility: hidden;
			position: absolute;
		}
		.select-button {
			visibility: hidden;
			position: absolute;
		}
	}
// TRACK
	.track {
		padding: 10%;
		width: 100%;
		background-color: $teal;
		position: relative;
		h2 {
			color: $white;
		}
		.order-number {
			background-color: $orange;
			border: 20px solid $dkorange;
			margin: 0 auto;
			padding: 7%;
			border-radius: 25px;
			text-align: center;
			input {
				width: 90%;
				max-width: 150px;
			}
			.search {
				width: 20px;
			}
		}
		iframe {
			width: 100%;
			display: block;
			margin: 10px auto;
			z-index: 95;
		}
	}
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	width: 100%;
	background-color: $dkgrey;
	text-align: center;
	padding: 1em;
	.extra {
		p {
			color: $white;
		}
	}
	.social {
		.icon {
			width: 40px;
			margin: 10px;
		}
	}
	.contact {
		p {
			color: $white;
		}
	}
}

/*
  ========================================
  Product / Checkout
  ========================================
*/
.no-nav {
		height: 4.3em;
		position: fixed;
}
.breadcrumbs {
	color: $grey;
	margin-bottom: 10px;
	a {
		color: $grey;
		text-decoration: none;
	}
}
.bomb-btn {
	padding: 5px;
	width: 150px;
	display: block;
	border-radius: 25px;
	margin: 20px auto 50px auto;
	background-color: $ltgrey;
	color: $dkgrey;	
	border: 2px solid $teal;
	font-family: "museo-sans",sans-serif;
	&:hover {
		background-color: $teal;
		color: $white;
		text-decoration: none;
	}
}
.horiz-line {
	width: 100%;
	border: 1px solid $dkgrey;
	margin: 20px auto;
}
.horiz-transparent {
	width: 80%;
	border: 0.1px solid $white;
	margin: 15px auto;
}
.product-container {
	.container {
		width: 90%;
		margin: 0 auto;
		padding-top: 10em;
		background-color: $white;
	// PRODUCT
		.product {
			display: flex;
			flex-direction: column;
			img {
				width: 140px;
				margin: 0 auto 20px auto;
			}
			.bomb-highlight {
				margin: 20px auto;
			}
		}
	// CHECKOUT
		.checkout-form {
			padding: 10px;
			h5 {
				line-height: 2em;
			}
			input {
    			box-shadow: inset 0 0 0 1px #d5d8da,inset 0 2px 2px #eff0f1,0 0 0 1000px #fff inset;
    			width: 100%;
				padding: 8px;
				margin: 10px auto;
			}
			.checkbox {
				width: 20px;
				height: 20px;
				margin: 0;
			}
			select {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}	
}

/*
  ========================================
  Confirm
  ========================================
*/
.confirm-container {
	.container {
		width: 90%;
		margin: 0 auto;
		padding: 10em 0 5em 0;
		background-color: $white;
		text-align: center;
		.confirmation-info {
			width: 60%;
			margin: 0 auto;
			h2 {
				@include font(2.2);
				line-height: 3em;
			}
			h3 {
				line-height: 1.5em;
			}
			a {
				color: $teal;
				&:hover {
					color: $pink;
					font-weight: bold;
				}
			}
		}
		.punt {
		  position: absolute;
		  left: 50px;
		  top: 50px;
		  height: 4px;
		  width: 4px;
		  border-radius: 2px;
		  opacity: 0;
		  animation-duration: 3s;
		  animation-iteration-count: 3;
		}
		.blauw {
		  position: absolute;
		  left: 450px;
		  top: 250px;
		  height: 400px;
		  width: 200px;
		}
		.blauw div {
		  background-color: #00f;
		  animation-delay: 1.5s;
		}
		.paars {
		  position: absolute;
		  left: 200px;
		  top: 10px;
		  height: 400px;
		  width: 200px;
		}
		.paars div {
		  background-color: #70f;
		  animation-delay: 2.5s;
		}
		.rood {
		  position: absolute;
		  left: 800px;
		  top: 50px;
		  height: 400px;
		  width: 200px;
		}
		.rood div {
		  background-color: #f00;
		  animation-delay: 4s;
		}
		.oranje {
		  position: absolute;
		  left: 1000px;
		  top: 400px;
		  height: 400px;
		  width: 200px;
		}
		.oranje div {
		  background-color: #f50;
		  animation-delay: 4.5s;
		}
		.geel {
		  position: absolute;
		  left: 1250px;
		  top: 100px;
		  height: 400px;
		  width: 200px;
		}
		.geel div {
		  background-color: #fb0;
		  animation-delay: 6s;
		}
		.groen {
		  position: absolute;
		  left: 1500px;
		  top: 450px;
		  height: 400px;
		  width: 200px;
		}
		.groen div {
		  background-color: #0f0;
		  opacity: 0;
		  animation-delay: 7.5s;
		}
		.blauw2 {
		  position: absolute;
		  left: 550px;
		  top: 350px;
		  height: 400px;
		  width: 200px;
		}
		.blauw2 div {
		  background-color: #00f;
		  animation-delay: 8.5s;
		}
		.paars2 {
		  position: absolute;
		  left: 300px;
		  top: 110px;
		  height: 400px;
		  width: 200px;
		}
		.paars2 div {
		  background-color: #7700ff;
		  animation-delay: 9.5s;
		}
		.rood2 {
		  position: absolute;
		  left: 900px;
		  top: 150px;
		  height: 400px;
		  width: 200px;
		}
		.rood2 div {
		  background-color: #ff0000;
		  animation-delay: 12.5s;
		}
		.oranje2 {
		  position: absolute;
		  left: 1100px;
		  top: 500px;
		  height: 400px;
		  width: 200px;
		}
		.oranje2 div {
		  background-color: #ff5500;
		  animation-delay: 15s;
		}
		.geel2 {
		  position: absolute;
		  left: 1350px;
		  top: 200px;
		  height: 400px;
		  width: 200px;
		}
		.geel2 div {
		  background-color: #ffbb00;
		  animation-delay: 17.5s;
		}
		.groen2 {
		  position: absolute;
		  left: 1600px;
		  top: 550px;
		  height: 400px;
		  width: 200px;
		}
		.groen2 div {
		  background-color: #00ff00;
		  animation-delay: 20s;
		}
		.punt:nth-child(1) {
		  animation-name: explode1;
		}
		.punt:nth-child(2) {
		  animation-name: explode2;
		}
		.punt:nth-child(3) {
		  animation-name: explode3;
		}
		.punt:nth-child(4) {
		  animation-name: explode4;
		}
		.punt:nth-child(5) {
		  animation-name: explode5;
		}
		.punt:nth-child(6) {
		  animation-name: explode6;
		}
		.punt:nth-child(7) {
		  animation-name: explode7;
		}
		.punt:nth-child(8) {
		  animation-name: explode8;
		}
		.punt:nth-child(9) {
		  animation-name: explode9;
		}
		.punt:nth-child(10) {
		  animation-name: explode10;
		}
		.punt:nth-child(11) {
		  animation-name: explode11;
		}
		.punt:nth-child(12) {
		  animation-name: explode12;
		}
		.punt:nth-child(13) {
		  animation-name: explode13;
		}
		.punt:nth-child(14) {
		  animation-name: explode14;
		}
		.punt:nth-child(15) {
		  animation-name: explode15;
		}
		.punt:nth-child(16) {
		  animation-name: explode16;
		}
		.punt:nth-child(17) {
		  animation-name: explode17;
		}
		.punt:nth-child(18) {
		  animation-name: explode18;
		}
		.punt:nth-child(19) {
		  animation-name: explode19;
		}
		.punt:nth-child(20) {
		  animation-name: explode20;
		}
		.punt:nth-child(21) {
		  animation-name: explode21;
		}
		.punt:nth-child(22) {
		  animation-name: explode22;
		}
		.punt:nth-child(23) {
		  animation-name: explode23;
		}
		.punt:nth-child(24) {
		  animation-name: explode24;
		}
		@keyframes explode1 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(0px, -100px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(0px, 0px);
		  }
		}
		@keyframes explode2 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(100px, 0px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(100px, 100px);
		  }
		}
		@keyframes explode3 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(0px, 100px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(0px, 200px);
		  }
		}
		@keyframes explode4 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-100px, 0px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-100px, 100px);
		  }
		}
		@keyframes explode5 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-70px, -70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-70px, 30px);
		  }
		}
		@keyframes explode6 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(70px, -70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(70px, 30px);
		  }
		}
		@keyframes explode7 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(70px, 70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(70px, 170px);
		  }
		}
		@keyframes explode8 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-70px, 70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-70px, 170px);
		  }
		}
		@keyframes explode9 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-200px, 0px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-200px, 100px);
		  }
		}
		@keyframes explode10 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(0px, -200px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(0px, -100px);
		  }
		}
		@keyframes explode11 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(200px, 0px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(200px, 100px);
		  }
		}
		@keyframes explode12 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(0px, 200px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(0px, 300px);
		  }
		}
		@keyframes explode13 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-180px, -70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-180px, 30px);
		  }
		}
		@keyframes explode14 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-70px, -180px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-70px, -80px);
		  }
		}
		@keyframes explode15 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(70px, -180px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(70px, -80px);
		  }
		}
		@keyframes explode16 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(180px, -70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(180px, 30px);
		  }
		}
		@keyframes explode17 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(180px, 70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(180px, 170px);
		  }
		}
		@keyframes explode18 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(70px, 180px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(70px, 280px);
		  }
		}
		@keyframes explode19 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-70px, 180px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-70px, 280px);
		  }
		}
		@keyframes explode20 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-180px, 70px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-180px, 170px);
		  }
		}
		@keyframes explode21 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-140px, -140px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-140px, -40px);
		  }
		}
		@keyframes explode22 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(140px, -140px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(140px, -40px);
		  }
		}
		@keyframes explode23 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(140px, 140px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(140px, 240px);
		  }
		}
		@keyframes explode24 {
		  0% {
		    opacity: 0;
		  }
		  25% {
		    opacity: 1;
		    transform: translate(-140px, 140px);
		  }
		  50% {
		    opacity: 0.2;
		  }
		  100% {
		    opacity: 0;
		    transform: translate(-140px, 240px);
		  }
		}
	}
}


@import '500-media';
@import '900-media';